<div class="topband">
  <nav class="navbar navbar-expand-lg">
    <!--menu_icon-->
    <button type="button" id="sidebarCollapse" class="sidebar-toggle"><i class="fa fa-bars"></i></button>
    <!--menu_icon-->
    <div class="my_logo">
      <a href="#">
        <img src="../assets/images/logo.png" class="img-responsive">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item user-menu">
          <a href="#" class="dropdown-toggle clearfix user_profile" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <!-- The user image in the navbar-->
            <img src="../assets/images/user2-160x160.jpg" class="user-image img-bordered" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">Welcome <strong>Ajay</strong></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="../assets/images/user2-160x160.jpg" class="" alt="User Image">
              <p> Alexander Pierce - Web Developer <small>Member since Nov. 2012</small> </p>
            </li>
            <!-- Menu Body -->
            <!-- <li class="user-body">
              <a href="change_password.html">Change Password</a>
            </li> -->
            <!-- Menu Footer-->
            <li class="user-footer clearfix">

              <div class="pull-right"> <a routerLink="/" class="white_btn">Sign out</a> </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
