<!-- main_banner_section -->
<div class="support_banner_section">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14036.89293366572!2d76.9930961480283!3d28.412520240160084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d194215555547%3A0xdcab30bdf8e9130c!2sMPS+Ltd!5e0!3m2!1sen!2sin!4v1542251988898"
    width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- main_banner_section -->
<div class="breadcrumb_outer">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Contact Us</li>
    </ol>
  </div>
</div>


<!--main_section-->
<section class="main_section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Contact <span>Us</span></h2>
    </div>

    <!--Content_part-->
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-4">
        <div class="address_box">
          <div class="small-header">
            <h2 class="section-title">Our Address</h2>
          </div>
          <div class="address_col">
            <p class="pb-2">
              <span class="link"><i class="fa fa-mobile-phone"></i> 9871241166</span>
            </p>
            <p>
              <span class="link"><i class="fa fa-envelope-o"></i> <a href="sp.gangwar@live.com">sp.gangwar@live.com</a></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 col-md-8">
        <p class="gray_bg"> Fill out the form below to recieve a free and confidential.</p>
        <form class="contact_us_form" method="post" id="contactForm" novalidate>
          <div class="row">
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="name">Name</label>
              <input class="form-control" id="name" name="name" placeholder="Name" type="text">
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="email">Email</label>
              <input class="form-control" id="email" name="email" placeholder="Email" type="email">
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="mobile">Mobile No</label>
              <input class="form-control" id="mobile" name="mobile" placeholder="+91" type="text">
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
              <label for="subject">Subject</label>
              <input class="form-control" id="subject" name="subject" placeholder="Subject" type="text">
            </div>
            <div class="form-group col-lg-12 clear">
              <label for="message">Message</label>
              <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <div class="form-group col-md-12">
              <button type="submit" value="submit" class="red_btn">Send Messages</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--Content_part-->

  </div>
</section>
<!--main_section-->

<!--footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_1" aria-expanded="false" aria-controls="collapseExample">
            Services <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_1">
          <li><a href="#">Create Assessment</a></li>
          <li><a href="#">Contribute to building platform</a></li>
          <li><a href="#">Schedule a test</a></li>
        </ul>
      </div>





      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_3" aria-expanded="false" aria-controls="collapseExample">
            Resources <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_3">
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Success Stories</a></li>
          <li><a href="#">Press Releases</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_4" aria-expanded="false" aria-controls="collapseExample">
            About Us <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_4">
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Contributors</a></li>
          <li><a href="#">Vision and Values</a></li>

        </ul>
      </div>


      <div class="col-md-3">

        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_5" aria-expanded="false" aria-controls="collapseExample">
            Others<span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_5">
          <li><a href="blog.html">Blog</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Careers</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="fotter_info">
    <div class="container">
      <div class="row">
        <!-- Footer Links -->
        <div class="col-md-6">
          <div class="footer-links">
            <p> © 2018 <span>Access2Talent</span> All Right Reversed. <a href="#">Privacy</a> | <a href="#">Terms of
                Use</a></p>
          </div>

        </div>
        <div class="col-md-6">
          <div class="social-icons">
            <ul>
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--Sign_in_modal-->
<div class="modal fade bs-example-modal-lg" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header pt-2 pr-3 pl-3 pb-2">
        <div class="section-header m-0">
          <h2 class="section-title">Sign <span>In</span></h2>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="images/icon/close.png"
            class="img-fluid"> </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mid_vertical_border pl-4 pr-5">
            <form>
              <div class="form-group">
                <label for="LoginAs">Login As</label>
                <select class="form-control" id="LoginAs">
                  <option>Contricutor</option>
                  <option>Company</option>
                  <option>Candidate</option>
                  <option>Administrator</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
              </div>
              <div class="form-group">
                <label for="inputPassword3">Password</label>
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
              <div class="form-group">
                <a href="#" class="float-right">Forget the password ?</a>
                <div class="checkbox checkbox-common">
                  <input id="RememberMe" type="checkbox">
                  <label for="RememberMe"> Remember Me</label>
                </div>

              </div>
              <div class="form-group">
                <a type="submit" href="after_login_inner_page.html" class="red_btn">Sign in <i class="fa fa-angle-right"></i></a>
              </div>

            </form>
          </div>
          <div class="col-md-6 p-5">
            <h4 class="text-center">
              Don't have an account?<br> Create an account quickly below.</h4>
            <a href="registration.html" class="black_btn btn-block">Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
