<div id="content">
  <!--Page header-->
  <div class="section-header">
    <h2 class="section-title">Search <span>Questions</span></h2>
  </div>
  <!--Page header End-->

  <!--content_box-->
  <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-0">
    <form class="contact_us_form" method="post" id="contactForm" novalidate="">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="Subject">Subject</label>
          <select class="form-control" id="Subject">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="Topic">Topic</label>
          <select class="form-control" id="Topic">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="Contribuer">Contribuer</label>
          <select class="form-control" id="Contribuer">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group col-md-8">
          <label for="Text">Text</label>
          <input class="form-control" id="Text" name="Text" placeholder="" type="text">
        </div>
        <div class="form-group col-md-4">
          <button type="submit" value="submit" class="red_btn mt-4">Search</button>
        </div>
      </div>
    </form>
  </div>


  <div class="table-responsive bg-white">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>1st</th>
          <th>2nd</th>
          <th>3rd</th>
          <th>4th</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--content_box_ENd-->


</div>
