<div id="content">
  <!--Page header-->
  <div class="section-header">
    <h2 class="section-title">Setup <span>Tool</span></h2>
  </div>
  <!--Page header End-->

  <!--content_box-->

  <form class="contact_us_form" method="post" id="contactForm" novalidate="">

    <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-0">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="CompanyName">Company Name</label>
          <input class="form-control" id="CompanyName" name="CompanyName" placeholder="" type="text">
        </div>
        <div class="form-group col-md-3">
          <label for="TestSetBy">Test Set By</label>
          <input class="form-control" id="TestSetBy" name="TestSetBy" placeholder="" type="text">
        </div>
        <div class="form-group col-md-3">
          <label for="Subject">Subject</label>
          <select class="form-control" id="Subject">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="Assessment">Assessment</label>
          <select class="form-control" id="Assessment">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-2">
          <div class="tittle mb-3 clearfix">Candidate <span>Details</span></div>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="CandidateName">Candidate Name</label>
              <input class="form-control" id="CandidateName" name="CandidateName" placeholder="" type="text">
            </div>
            <div class="form-group col-md-3">
              <label for="CandidateEmail">Candidate Email</label>
              <input class="form-control" id="CandidateEmail" name="CandidateEmail" placeholder="" type="email">
            </div>
            <div class="form-group col-md-3">
              <label for="CandidatePhoneNo">Candidate Phone No</label>
              <input class="form-control" id="CandidatePhoneNo" name="CandidatePhoneNo" placeholder="" type="text">
            </div>
            <div class="form-group col-md-3">
              <label for="CandidateDate">Candidate Date</label>
              <input class="form-control" id="CandidateDate" name="CandidateDate" placeholder="" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn_box">
      <div class="row">
        <div class="form-group col-6 col-sm-6 col-md-6 text-left">
          <button type="submit" value="submit" class="white_btn">Cancle</button>
        </div>
        <div class="form-group col-6 col-sm-6 col-md-6 text-right">
          <button type="submit" value="submit" class="red_btn">Save</button>
        </div>
      </div>
    </div>

  </form>

  <!--content_box_ENd-->


</div>
