<div id="content">
  <!--Page header-->
  <div class="section-header">
    <h2 class="section-title">Create <span>Assessment</span></h2>
  </div>
  <!--Page header End-->

  <!--content_box-->
  <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-0">
    <form class="contact_us_form" method="post" id="contactForm" novalidate="">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="Title">Title</label>
              <input class="form-control" id="Title" name="Title" placeholder="" type="text">
            </div>
            <div class="form-group col-md-12">
              <label for="NoQuestions">No of Questions</label>
              <input class="form-control" id="NoQuestions" name="NoQuestions" placeholder="" type="text">
            </div>
            <div class="form-group col-md-12">
              <label for="Subject">Subject</label>
              <select class="form-control" id="Subject">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group col-md-12">
              <label for="ValidUpTo">Valid Up To</label>
              <input class="form-control" id="ValidUpTo" name="ValidUpTo" placeholder="" type="text">
            </div>

            <div class="form-group col-md-12">
              <label for="JobProfile">Job Profile</label>
              <select class="form-control" id="JobProfile">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="Company">Company</label>
              <select class="form-control" id="Company">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <label for="TimeAllowed">Time Allowed</label>
              <input class="form-control" id="TimeAllowed" name="TimeAllowed" placeholder="" type="text">
            </div>

            <div class="form-group col-md-12">
              <label for="MaxMarks">Max Marks</label>
              <input class="form-control" id="MaxMarks" name="MaxMarks" placeholder="" type="text">
            </div>

          </div>
        </div>

        <div class="col-md-8">
          <div class="border pl-3 pr-3 pb-2 pt-3 mb-3">
            <div class="tittle mb-3 clearfix">Add Questions <span>(Search On)</span></div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="Subject">Subject</label>
                <select class="form-control" id="Subject">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="Assessment">Complex...</label>
                <select class="form-control" id="Assessment">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="Count">Count</label>
                <input class="form-control" id="Count" name="Count" placeholder="" type="text">
              </div>
            </div>
            <hr>

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="50">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1"> &nbsp;</label>
                      </div>
                    </th>
                    <th>First</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4"> &nbsp;</label>
                      </div>
                    </td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck4"> &nbsp;</label>
                      </div>
                    </td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"> &nbsp;</label>
                      </div>
                    </td>
                    <td>Jacob</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>




      <div class="btn_box">
        <div class="row">
          <div class="form-group  col-6 col-sm-6 col-md-6 text-left">
            <button type="submit" value="submit" class="white_btn">Cancle</button>
          </div>
          <div class="form-group col-6 col-sm-6 col-md-6 text-right">
            <button type="submit" value="submit" class="red_btn">Save</button>
          </div>
        </div>
      </div>


    </form>
  </div>
  <!--content_box_ENd-->


</div>
