<section class="slider_outer">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active slide1">
        <div class="container">
          <div class="carousel-caption">
            <h2> Transforming <br>Talent Acquisition</h2>
            <p>Process through technology and unleash the personalized hiring experience for each and every candidate.</p>
            <a class="white_border_btn mb-3" href="#" role="button">Contribute</a>
          </div>

        </div>
      </div>
      <div class="carousel-item slide2">
        <div class="container">
          <div class="carousel-caption">
            <h2> Transforming <br>Talent Acquisition</h2>
            <p>Build your own custom assessment for every specific hiring need and treat every candidate as your
              internal customer. Allow them to explore to explore your organization through videos, interactive
              situational contents..</p>
            <a class="white_border_btn mb-3" href="#" role="button">Contribute</a>
          </div>
        </div>
      </div>
      <div class="carousel-item slide3">
        <div class="container">
          <div class="carousel-caption">
            <h2> Strealine <br>Talent Acquisition</h2>
            <p>Attract and convert candidates; create meaningful, personalised experiences and analyze everything along
              the way.</p>
            <a class="white_border_btn mb-3" href="#" role="button">Contribute</a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>




<section class="talenthunt_introduction_section">
  <div class="container">


    <div class="introduction_detail">
      <div class="row">
        <div class="col-md-6">
          <div class="section-header">
            <h2 class="section-title">Access2Talent <span>Introduction</span></h2>
          </div>
          <p>
            <span class="font_semibold">Automate</span> screening and selection process. We offer tailored assessments
            for all levels of hiring and detailed report on capabilities of the candidates.
          </p>
          <p>We offer <span class="font_semibold">evidence based hiring solution</span> and avoid subjective flaws of
            hiring. We offer AI and ML based technology to match profiles with job’s actual need.</p>
          <a class="white_btn" href="#">Read More</a>
        </div>

        <div class="col-md-6">
          <div class="introduction_video">
            <img class="img-fluid" src="../assets/images/video1.jpg" alt="Upcomming Featured">
            <a class="play-video" href="https://www.youtube.com/watch?v=iKVPOOz5_LQ">
              <img src="../assets/images/play_btn.png" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--talenthunt_introduction_section-->



<section class="top_benefits_section">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title">Access2Talent <span>Be the Face of Change.</span></h2>
    </div>


    <div class="row">
      <!--benefits_box-->
      <div class="col-md-6 col-lg-3 text-center">
        <img class="align-self-start mr-3 img-fluid" src="../assets/images/icon/create_test_icon.png" alt="results 100%">
        <h5 class="mt-2">Create test</h5>
        <p>Create your own test or select from the question pools</p>
      </div>
      <!--blog_box_end-->

      <!--benefits_box-->
      <div class="col-md-6 col-lg-3 text-center">
        <img class="align-self-start mr-3 img-fluid" src="../assets/images/icon/invite_candidates_icon.png" alt="Best Fit">
        <h5 class="mt-2">Invite candidates</h5>
        <p>Email invitation / Batch scheduling / Direct link to candidates for test</p>
      </div>
      <!--benefits_box_end-->

      <!--benefits_box-->
      <div class="col-md-6 col-lg-3 text-center">
        <img class="align-self-start mr-3 img-fluid" src="../assets/images/icon/analyze_results_icon.png" alt="Time Saving">
        <h5 class="mt-2">Analyze results</h5>
        <p>Recruiter Dashboard to view score card &amp; analyse performance</p>
      </div>
      <!--benefits_box_end-->

      <!--benefits_box-->
      <div class="col-md-6 col-lg-3 text-center">
        <img class="align-self-start mr-3 img-fluid" src="../assets/images/icon/interview_and_offer_icon.png" alt="Flat Fee">
        <h5 class="mt-2">Interview and offer</h5>
        <p>Shortlist candidate based on the candidate test analysis</p>
      </div>
      <!--benefits_box_end-->



    </div>


  </div>
</section>



<!--campaign_section-->
<section class="campaign_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0">
        <img class="featurette-image img-fluid mx-auto" src="../assets/images/img1.png">
      </div>
      <div class="col-md-6">
        <div class="campaign_detail">
          <h1>01</h1>
          <h2>Build your OWN </h2>
          <h3><span>custom assessment.</span></h3>
          <p class="mb-4">
            for every specific hiring need and treat every candidate as your internal customer. Allow them to explore
            to explore your organization through videos, interactive situational contents.
          </p>
          <a class="white_btn" href="#">Read More</a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 p-0 order-md-2">
        <img class="featurette-image img-fluid mx-auto" src="../assets/images/img2.png">
      </div>
      <div class="col-md-6">
        <div class="campaign_detail order-md-1">
          <h1>02</h1>
          <h2>Automate screenings</h2>
          <h3><span>and selection process</span></h3>
          <p class="mb-4">
            We offer tailored assessments for all levels of hiring and detailed report on capabilities of the
            candidate.
          </p>
          <a class="white_btn" href="#">Read More</a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 p-0">
        <img class="featurette-image img-fluid mx-auto" src="../assets/images/img3.png">
      </div>
      <div class="col-md-6">
        <div class="campaign_detail">
          <h1>03</h1>
          <h2>We offer evidence</h2>
          <h3><span> based hiring solution</span></h3>
          <p class="mb-4">
            and avoid subjective flaws of hiring. We offer AI and ML based technology to match profiles with job’s
            actual need.
          </p>
          <a class="white_btn" href="#">Read More</a>
        </div>
      </div>

    </div>
  </div>
</section>
<!--campaign_section-->
<!--footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_1" aria-expanded="false" aria-controls="collapseExample">
            Services <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_1">
          <li><a href="#">Create Assessment</a></li>
          <li><a href="#">Contribute to building platform</a></li>
          <li><a href="#">Schedule a test</a></li>
        </ul>
      </div>





      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_3" aria-expanded="false" aria-controls="collapseExample">
            Resources <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_3">
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Success Stories</a></li>
          <li><a href="#">Press Releases</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_4" aria-expanded="false" aria-controls="collapseExample">
            About Us <span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_4">
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Contributors</a></li>
          <li><a href="#">Vision and Values</a></li>

        </ul>
      </div>


      <div class="col-md-3">

        <h5>
          <a role="button" data-toggle="collapse" href="#footer_col_5" aria-expanded="false" aria-controls="collapseExample">
            Others<span class="fa fa-angle-down pull-right"></span></a>
        </h5>
        <ul class="collapse" id="footer_col_5">
          <li><a href="blog.html">Blog</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Careers</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="fotter_info">
    <div class="container">
      <div class="row">
        <!-- Footer Links -->
        <div class="col-md-6">
          <div class="footer-links">
            <p> © 2018 <span>Access2Talent</span> All Right Reversed. <a href="#">Privacy</a> | <a href="#">Terms of
                Use</a></p>
          </div>

        </div>
        <div class="col-md-6">
          <div class="social-icons">
            <ul>
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--Sign_in_modal-->
<div class="modal fade bs-example-modal-lg" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header pt-2 pr-3 pl-3 pb-2">
        <div class="section-header m-0">
          <h2 class="section-title">Sign <span>In</span></h2>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="../assets/images/icon/close.png"
            class="img-fluid"> </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 mid_vertical_border pl-4 pr-5">
            <form>
              <div class="form-group">
                <label for="LoginAs">Login As</label>
                <select class="form-control" id="LoginAs">
                  <option>Contricutor</option>
                  <option>Company</option>
                  <option>Candidate</option>
                  <option>Administrator</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
              </div>
              <div class="form-group">
                <label for="inputPassword3">Password</label>
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
              <div class="form-group">
                <a href="#" class="float-right">Forget the password ?</a>
                <div class="checkbox checkbox-common">
                  <input id="RememberMe" type="checkbox">
                  <label for="RememberMe"> Remember Me</label>
                </div>

              </div>
              <div class="form-group">
                <a type="submit" href="after_login_inner_page.html" class="red_btn">Sign in <i class="fa fa-angle-right"></i></a>
              </div>

            </form>
          </div>
          <div class="col-md-6 p-5">
            <h4 class="text-center">
              Don't have an account?<br> Create an account quickly below.</h4>
            <a href="registration.html" class="black_btn btn-block">Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
