<!-- Page Content  -->
<div id="content">
  <!--Page header-->
  <div class="section-header">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Talent Assessment Test <span></span></h2>
      </div>
      <div class="col-md-6 text-right"> <span class="border pt-1 pr-2 pb-1 pl-2">1 to 20</span></div>
    </div>
  </div>
  <!--Page header End-->

  <!--content_box-->
  <div class="row">
    <!--left_col-->
    <div class="col-12 col-md-7 col-lg-8">
      <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-0">
        <div class="tittle mb-3 clearfix">Question <span class="roboto_font">10/20</span>
          <a href="#" class="small_text float-right"><i class="fa fa-flag marked_box"></i> Revisit
            Later</a>
        </div>

        <div class="min-height300">
          <div class="roboto_font mb-4">
            <p>A rectangular shaped square plot's area is 23 times its length and the sum of its
              length and breadth is 60 m. Find the length of the plot.</p>
          </div>
          <div class="roboto_font mb-4">
            <div class="custom-control custom-radio mb-2">
              <input type="radio" id="data23" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="data23">23</label>
            </div>
            <div class="custom-control custom-radio mb-2">
              <input type="radio" id="data37" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="data37">37</label>
            </div>
            <div class="custom-control custom-radio mb-2">
              <input type="radio" id="data-inadequate" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="data-inadequate">Data Inadequate</label>
            </div>
            <div class="custom-control custom-radio mb-2">
              <input type="radio" id="none-of-these" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="none-of-these">None of these</label>
            </div>
          </div>
        </div>

        <div class="btn_box">
          <div class="row">
            <div class="form-group col-6 col-sm-6 col-md-6 text-left">
              <button type="submit" value="submit" class="white_btn">Previous Question</button>
            </div>
            <div class="form-group col-6 col-sm-6 col-md-6 text-right">
              <button type="submit" value="submit" class="red_btn">Next</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--left_col_end-->

    <!--right_col-->
    <div class="col-12 col-md-5 col-lg-4">
      <div class="border pl-3 pr-3 pb-2 pt-3 mb-3 mt-0">
        <h5 class="roboto_font">Total Questions: 20</h5>
        <p class="roboto_font">Total Answered Qs: 1</p>
        <hr>

        <ul class="qus_no_box">
          <li class="answered">1</li>
          <li class="not_answered">2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li class="not_answered">6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li class="active">10</li>
          <li>11</li>
          <li class="not_answered">12</li>
          <li>13</li>
          <li>14</li>
          <li class="not_answered">15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
        </ul>

        <hr>

        <div class="small">
          <div class="row">
            <div class="col-12 col-md-6"><i class="highlight_point answered_box"></i> Answered</div>
            <div class="col-12 col-md-6"><i class="highlight_point not_answered_box"></i> Not
              Answered</div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6"><i class="highlight_point fa fa-flag marked_box"></i>
              Marked</div>
            <div class="col-12 col-md-6"><i class="highlight_point not_viewed"></i> Not Viewed</div>
          </div>
        </div>


      </div>
    </div>
    <!--right_col_end-->
  </div>



  <!--content_box_ENd-->


</div>
